* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
}
form,label {
    display: flex;
    flex-direction: column;
}